<!-- 条件渲染 -->
<!-- 
    1.v-if
    2.v-else
    3.v-else-if 
    4.v-show
    5.v-for
-->
<!DOCTYPE html>
<html>

<head>
    <title>条件渲染</title>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-1">
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>
    </div>
    <div id="app-2">
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
    </div>
    <div id="app-3">
        <h1 v-show='ok'>Hello!</h1>
    </div>
    <div id="app-4">
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
    </div>
    <script type="text/javascript">
    var app1 = new Vue({
        el: '#app-1',
        data: {
            awesome: true
        }
    });
    var app2 = new Vue({
        el: '#app-2',
        data: {
            type: 'xxx'
        }
    });
    var app3 = new Vue({
        el: '#app-3',
        data: {
            ok: true
        }
    });
    var app4 = new Vue({
        el: '#app-4',
        data: {
            items: ["A", "B", "C"]
        }
    });
    </script>
</body>

</html>